<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <context:annotation-config/>
    <context:component-scan base-package="com.nuist.game"/>
    <bean id="gameEventService" class="com.nuist.game.service.GameEventService"/>
    <bean id="paintService" class="com.nuist.game.service.PaintService"/>
    <bean id="peopleEventService" class="com.nuist.game.service.PeopleEventService"/>
    <bean id="mainFrameKeyListener" class="com.nuist.game.listener.MainFrameKeyListener"/>
    <bean id="taskExecutor" class="com.nuist.game.thread.executor.TaskExecutor"/>
    <bean id="executorService" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 核心线程数  -->
        <property name="corePoolSize" value="200"/>
        <!-- 最大线程数 -->
        <property name="maxPoolSize" value="300"/>
        <!-- 队列最大长度 >=mainExecutor.maxSize -->
        <property name="queueCapacity" value="1000"/>
        <!-- 线程池维护线程所允许的空闲时间 -->
        <property name="keepAliveSeconds" value="300"/>
        <!-- 线程池对拒绝任务(无线程可用)的处理策略 -->
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy"/>
        </property>
    </bean>
    <bean id="gameContext" class="com.nuist.game.context.GameContext"/>
</beans>